body{
    min-height: 100vh;
    -webkit-tap-highlight-color: transparent;
    background: rgb(40, 40, 40);
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
}
::-webkit-scrollbar-thumb:hover{
  	background: rgba(255, 255, 255, 1);
}
::-webkit-scrollbar-thumb:active{
  	background: rgba(255, 255, 255, 1);
}
  
.navbar-brand svg{
    height: 1.5rem;
    width: 1.5rem;
    margin: .5rem;
}
.navbar-brand{
    color: white;
    transition: all .25s;
}
.navbar-brand:hover{
    color: cyan;
    transition: all .25s;
}
.nav-link:hover{
    color: cyan;
    transition: all .25s;
}
#content-wrapper{
    background-image: url(./images/circuitBG.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: white;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    margin-top: 1.2rem;
}
#content-wrapper h2{
    margin-top: 3rem;
    align-self: center;
    text-align: center;
}
#content-wrapper p{
    margin-top: 1rem;
    align-self: center;
    text-align: center;
}
#content-wrapper a{
    align-self: center;
}