body{
    min-height: 100vh;
    -webkit-tap-highlight-color: transparent;
    /* background: linear-gradient(0deg, rgb(255, 238, 0) 0%, rgb(255, 119, 0) 30%, rgb(255, 0, 0) 100%); */
    background: rgb(40, 40, 40);
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
}
::-webkit-scrollbar-thumb:hover{
  	background: rgba(255, 255, 255, 1);
}
::-webkit-scrollbar-thumb:active{
  	background: rgba(255, 255, 255, 1);
}
  
.navbar-brand svg{
    height: 1.5rem;
    width: 1.5rem;
    margin: .5rem;
}
.navbar-brand{
    color: white;
    transition: all .25s;
}
.navbar-brand:hover{
    color: cyan;
    transition: all .25s;
}
.nav-link:hover{
    color: cyan;
    transition: all .25s;
}
#content-wrapper{
    background-image: url(../../../images/circuitBG.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: white;
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 1.2rem;
}
#content-wrapper h2{
    margin-top: 3rem;
    margin-bottom: 2rem;
    align-self: center;
    text-align: center;
}
#content-wrapper p{
    margin-top: 1rem;
    align-self: center;
    text-align: center;
}
#content-wrapper a{
    align-self: center;
}
.listCard{
    border: 1px solid white;
    margin: 1rem;
    padding: 1rem;
}
.listName{
    padding: 1rem;
}
.listPart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1rem;
    padding: .5rem;
}

.partLabel{
    font-weight: 700;
    width: 10rem;
}
.partImage{
    max-width: 150px;
    border: 1px solid rgb(69, 69, 69);
    padding: .5rem;
    margin: .5rem;
}
.partPrice{
    font-weight: 700;
    text-shadow: 0 0 2px rgb(21, 21, 255), 0 0 1px white;
    color: cyan;
}
.reciept-input{
    background-color: rgb(36, 69, 255);
    width: 100%;
    color: white;
    border: 1px solid white;
    border-radius: 7.5px;
    box-shadow: 0px 0px 5px white;
    padding: 1rem;
    transition: all .5s;
    text-align: center;
    margin-bottom: .5rem;
}
.reciept-input:hover{
    box-shadow: 0px 0px 10px white;
    font-size: 1.05rem;
    transition: all .5s;
}
@media screen and (max-width: 800px) {
    #content-wrapper{
        padding: 2rem 0rem;
    }
    .listPart{
        padding: 0.5rem 0;
        margin: 0 0;
    }
    .partImage{
        max-width: 100px;
        padding: .5rem;
        margin: .5rem;
    }

}