<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Builder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="partPicker.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">PC Builder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../../../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Part Picker</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Prebuilds</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Browse Products
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">CPUs</a></li>
                  <li><a class="dropdown-item" href="#">CPU Coolers</a></li>
                  <li><a class="dropdown-item" href="#">Motherboards</a></li>
                  <li><a class="dropdown-item" href="#">Memory</a></li>
                  <li><a class="dropdown-item" href="#">Storage</a></li>
                  <li><a class="dropdown-item" href="#">Video Cards</a></li>
                  <li><a class="dropdown-item" href="#">Power Supplies</a></li>
                  <li><a class="dropdown-item" href="#">Cases</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="content-wrapper">
        <h2>Part Picker</h2>
        <div id="picker-wrapper">
          <table>
            <tr><th>Components</th><th></th><th>Selection</th><th class="table-head-price" >Price</th></tr>

            <tr><td>CPU</td>
              <td></td>
              <td><div id="cpu-selection"><button class="addItemButton" id="picker-cpu">+ Choose A CPU</button></div></td>
              <td class="table-price" id="cpu-price">$0.00</td>
            </tr>
            <tr><td>CPU Cooler</td>
              <td></td>
              <td><div id="cpu-cooler-selection"><button class="addItemButton" id="picker-cpu-cooler">+ Choose A CPU Cooler</button></div></td>
              <td class="table-price" id="cpu-cooler-price">$0.00</td>
            </tr>
            <tr><td>Motherboard</td>
              <td></td>
              <td><div id="motherboard-selection"><button class="addItemButton" id="picker-motherboard">+ Choose A Motherboard</button></div></td>
              <td class="table-price" id="motherboard-price">$0.00</td>
            </tr>
            <tr><td>Video Card</td>
              <td></td>
              <td><div id="gpu-selection"><button class="addItemButton" id="picker-gpu">+ Choose A Video Card</button></div></td>
              <td class="table-price" id="gpu-price">$0.00</td>
            </tr>
            <tr></tr>
            <tr><td><h3>Total</h3></td>
              <td></td>
              <td></td>
              <td class="table-total-price"><h3 id="total-price">$0.00</h3></td>
            </tr>
          </table>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script type="module" src="./partPicker.js"></script>
</body>
</html>